body{
    background: linear-gradient(to right, rgb(255, 241, 119), rgb(250, 119, 250));
}
a{
    text-decoration: none;
}
.title{
    border: solid 1px rgb(255,200,124);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    padding: 25px 1px 1px 25px;
    margin: 55px 1px 5px 245px;
    background-color: rgb(255,200,124);
}
#dribbble{
    font-family: 'Updock', cursive;
    font-size: x-large;
    margin: 1px;
    color: rgb(88, 88, 34);
}
.title img{
    width: 300px;
    margin-left: -15%;
    margin-top: 40%;
}
#text{
    color: rgb(99, 99, 35);
    margin-top: 2px;
}
.title p{
    font-size: x-small;
    margin-bottom: 20px;
}
.details{
    border: solid 1px white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 500px;
    padding: 25px 1px 1px 25px;
    margin: 55px 100px 5px -1px;
    background-color: white;
}
.container{
    display: flex;
}
.details header{
    /* border: solid; */
    width: 200px;
    margin-left: 270px;
}
#sign-up{
    /* border: solid; */
    margin-top: 50px;
    margin-left: 60px;
    font-weight: bold;
    font-size: large;
}
.icons{
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
}
#google{
    width: 50%;
    height: 30px;
    border: solid rgb(70,130,180);
    border-radius: 5px;
    font-size: x-small;
    color: white;
    background-color: rgb(70,130,180);
}
#google-icon{
    margin-left: 17%;
    margin-top: 5%;
}
#google p{
    margin-top: -6%;
    margin-left: 40%;
}
#twitter{
    width: 30px;
    color: grey;
    text-align: center;
    padding: 10% 3%;
    background-color: lightgray;
}
#fb{
    color: grey;
    text-align: center;
    padding: 12% 0.1% 5% 0.1%;
    background-color: lightgray;
    width: 37px;
    margin-left: 15px;
    margin-top: -1%;
}
.iconss{
    margin-left: 20px;
    display: flex;
}
.lines{
    display: flex;
}
.line-one{
    margin-left: 60px;
    margin-right: 20px;
    height: 1px;
    border: none;
}
.line-two{
    margin-left: 20px;
    height: 1px;
    border: none; 
}
.password input{
    width: 355px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: rgb(219,219,219);
    margin-top: 5px;
    font-size: small;
}
.email{
    margin-left: 59px;
}
.password{
    margin-left: 59px;
}
.press{
    margin-left: 57px;
    margin-top: 15px;
    color: white;
    background-color: rgb(255, 20, 147);
    width: 150px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
}